button.hidden {
    display: none;
}

button {
    border: none;
    background-color: grey;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

button.on {
    background-color: limegreen;
}