[Unit]
Description=Home automation

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/home/pi/node_server/HomeAutomation/server.js
Restart=always
User=pi
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=pi
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/node_server/HomeAutomation

[Install]
WantedBy=multi-user.target